<title>Attraction</title>
<a href="/">Main menu</a>
<a href="/attractions/{{ attraction.id }}/rate">Rate the attraction</a><br/><br/>

<h1>{{ attraction.name }}</h1>
<h2>{{ attraction.location}}</h2>
<h3>{{ attraction.description}}</h3>

<p>
<img src={{ attraction.image }} height="150" width="150">
</p>

{% for rating in attraction.ratings() %}
   <p>Architecture rating:  </p>{{ rating.architecture_rating }}
   <p>Interior rating:  </p>{{ rating.interior_rating }}
   <p>Historical value rating:  </p>{{ rating.historical_value_rating }}
   <p>Average rating: </p>{{ rating.rating }}
{% endfor %}

<a href="/attractions/{{ attraction.id }}/edit">Edit attraction</a><br/><br/>
<form action="/attractions/{{ attraction.id }}/delete" method="post">
  <button type="submit">Delete attraction</button>
</form>
<br/>

<form action="/comments/new" method="post">
  <input type="text" name="message">
  <input type="hidden" name="attraction_id" value="{{ attraction.id }}">
  <button type="submit">Create comment</button>
</form>
<div id="comments" style="border: 1px solid black">
{% for comment in attraction.comments() %}
  {{ comment.message }}
  <br/>
  <br/>
{% endfor %}
</div>