<form action="/attractions/{{ attraction.id }}/rate" method="post">
   <h1>Rate</h1>
   <p>Architecture</p>
  <input type="checkbox" name="architecture rate" value = "One">
  <input type="checkbox" name="architecture rate" value = "Two">
  <input type="checkbox" name="architecture rate" value = "Three">
  <input type="checkbox" name="architecture rate" value = "Four">

  <p>Interior</p>
  <input type="checkbox" name="interior rate" value = "One">
  <input type="checkbox" name="interior rate" value = "Two">
  <input type="checkbox" name="interior rate" value = "Three">
  <input type="checkbox" name="interior rate" value = "Four">

   <p>Historical value</p>
  <input type="checkbox" name="historical value rate" value = "One">
  <input type="checkbox" name="historical value rate" value = "Two">
  <input type="checkbox" name="historical value rate" value = "Three">
  <input type="checkbox" name="historical value rate" value = "Four">

  <input type="submit">
</form>

